@import '../../style/helpers';

.weather {
	display: inline-block;
	justify-content: center;
	float: left;
	width: 200px;
	position: relative;
	right: 0px;
}
.weatherContainer {
	position: relative;
	right: 10px;
	overflow: hidden;
}

.slideContainer {
  margin-top: 25pt;
}
.now {
	float: left;
	position: relative;
	left: 20px;
	//text-decoration: underline;
  padding:5pt;
  border-bottom: 2.5pt solid  #000000;
  text-transform: uppercase;
}
.mainWeatherContainer {
  background: #FFFFFF;
  margin-top: 106pt;
  height: 146pt;
}

.slide {
	position: absolute;
	top: 200px;
}
.image {
	content: url('../../assets/icons/group4.png');
	float: left;
  	width: 158.5pt;
  	height: 146pt;
  	padding: 31pt 35.5pt 33.5pt 46pt;
  	border-right: 1.5pt solid #000000;
}
.hour {
  width: 40px;
  height: 31px;
  display: inline-block;
  white-space: normal;
  margin-top: 4pt;
}
.scroll {
  width: 325px;
  height: 55px;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  float: left;
	display: inline-block;
	left: 40px;
}
.container {
	display: flex;
	justify-content: center;
}
