@import '~style/helpers';

.slide {
	position: absolute;
	top: 200px;
}
.image {
	content: url('../../assets/icons/group4.png');
	float: left;
}
.hour {
	width:200px;
  height:75px;
  border:1px solid black;
  display:inline-block;
  white-space:normal;
}
.scroll {
	width:375px;
  height:200px;
  overflow-x:scroll;
  white-space:nowrap;
	position: absolute;
	top: 200px;
}
.container {
	display: flex;
	justify-content: center;
}
