@import '../../style/helpers';

.each {
	border:1px solid black;
}
//scroll for suggestions
.scroll {
  position: absolute;
  overflow: auto;
  height: 240px;
  width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 10px;
}
