@import '~style/helpers';

.each {
	border:1px solid black;
}
//scroll for suggestions
.scroll {
	position: absolute;
	overflow: auto;
	top: 500px;
	height: 150px;
	width: 100%;
}
.scroll:hover {
	text-decoration: underline;
}
.container {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 125px;
}
