@import '../../style/helpers';

//style for the weather when now is active
.weatherNow {
  display: inline-block;
  justify-content: center;
  float: left;
  width: 200px;
  position: relative;

  //style for the location in NOW
  h1 {
	float: left;
	font-size: 18pt;
	position: relative;
	margin: 0pt;
	text-transform: uppercase;
	width: 90%;
	height: 24.5pt;
	font-weight: 900;
	text-align: left;
  }

  //style for the weather in NOW
  h2 {
	position: relative;
	float: left;
	top: 15pt;
	font-size: 32pt;
	height: 43.5pt;
	width: 90%;
	font-weight: 900;
	text-align: left;
	margin: 0pt;
  }

  //style for the weather description in NOW
  h3 {
	position: relative;
	float: left;
	top: 20pt;
	width: 90%;
	font-size: 18pt;
	font-weight: 200;
	text-align: left;
	margin: 0pt;
  }
}

//style for the weatehr when a later time is selected
.weatherLater {
  display: inline-block;
  justify-content: center;
  float: left;
  width: 200px;
  position: relative;

  //style for the location at a later time
  h1 {
	float: left;
	font-size: 18pt;
	position: relative;
	margin: 0pt;
	text-transform: uppercase;
	width: 90%;
	height: 24.5pt;
	font-weight: 900;
	text-align: left;
  }

  //style for the temp at a later time
  h2 {
	position: relative;
	float: left;
	font-size: 32pt;
	height: 43.5pt;
	width: 90%;
	font-weight: 900;
	text-align: left;
	margin: 0pt;
  }

  //style for the weather description at a later time
  h3 {
	position: relative;
	float: left;
	bottom: 4pt;
	width: 90%;
	font-size: 18pt;
	font-weight: 200;
	text-align: left;
	margin: 0pt;
  }

  //style for the chance of rain at that time
  h4 {
	display: block;
	margin: 0px;
	font-weight: 100;
	text-align: left;
  }
}

//style for the wrapper container of the weather information (no icon)
.weatherContainer {
  position: relative;
  right: 10px;
  overflow: hidden;
}

//wrapper for the icon and weather info
.mainWeatherContainer {
  background: #FFFFFF;
  height: 146pt;
}


//style for the individual hours in the scrolling tabs
.hour {
  width: 50px;
  height: 25px;
  display: inline-block;
  white-space: normal;
  margin-top: 4pt;
}

//container for all infor inclusing weather slider and suggestons
.container {
  background: #FFFFFF;
	display: flex;
	flex-direction: column;
	color: #000;
	width: 414px;
	height: 736px;
	text-align: center;
	margin: 0 auto;
}
