@import '../../style/helpers';

.item {
  background: #FFFFFF;
  width: 293.5pt;
  height: 221.5pt;
  border-radius: 11.5pt;
  margin: 0 auto 25.5pt;
  overflow: hidden;
  position: relative;
  left: 5pt;
  box-shadow: 0pt 2.5pt 14pt #D1D1D1;
}

.imgContainer {
  width: 100%;
  height: 131.5pt;
  overflow: hidden;

  img {
	display: block;
	width: 100%;
	height: initial;

  }
}


