@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FFFFFF;
  	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#wrap {
  justify-content: flex-start;
  height: 146pt;
  padding:10pt 20pt;
  h1 {
	float: left;
	font-size: 18pt;
	position: relative;
	margin: 0pt;
	text-transform: uppercase;
	width: 90%;
	height: 24.5pt;
	font-weight: 900;
	text-align: left;
  }
  h2 {
	position: relative;
	float: left;
	top: 15pt;
	font-size: 32pt;
	height: 43.5pt;
	width: 90%;
	font-weight: 900;
	text-align: left;
	margin: 0pt;
  }
  h3 {
	position: relative;
	float: left;
	top: 20pt;
	width: 90%;
	font-size: 18pt;
	font-weight: 200;
	text-align: left;
	margin: 0pt;
  }
}
